@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.p-24 {
  padding: 6rem 1rem;
}

h1 {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

@media only screen and (min-width: 1023px) {
  .p-24 {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 0;
  }
  h1 {
    font-size: 40px;
  }
}

